body{
    margin:0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
#input-el{
    display: block;
    margin-top:10px; 
    width:100%;
    box-sizing: border-box;
    height: 40px;
    border:2px solid;
    border-color: greenyellow;
}
#input-btn{
    margin-top: 10px;
    padding:10px 15px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
#delete-btn{
    margin-top: 10px;
    margin-left:5px;
    padding:10px 15px;
    display:inline-block;
    border: 2px solid;
    border-color: green;
    border-radius: 5px;
    color: green;
    font-size: 1.2rem;
    font-weight: bold;
}

a{
    color: green;
}
ul{
    list-style: none;
    margin-top: 10px;
    padding-left: 0px;
}
li{
    margin-top: 5px;
}